// Todo.js에 적용할 scss
@import './_utils.scss';

.Todo {
  // width: 80%;
  height: 5vh;
  border: 1px solid $color-secondary-500;
  margin: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  input {
    width: 70%;
    // input 배경 투명으로 변경
    background-color: transparent;
    // input테두리 없애기
    border: none;
    // input 아래 테두리만 주기
    border-bottom: 1px solid $color-secondary-400;
  }

  input[type='checkbox'] + label {
    display: inline-block;
    width: 8%;
    height: 50%;
    border: 1px solid $color-secondary-500;
    position: relative;
  }
  input[type='checkbox']:checked + label::after {
    content: '✔';
    color: $color-secondary-300;
    font-size: 1.2rem;
    width: 8%;
    height: 50%;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
  }

  input[type='checkbox'] {
    display: none;
  }
}
